.borrowers-container {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.loan-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.single-borrower {
    background-color: #6b7379;
    color: #fff;
    border-radius: 6px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: auto;
}

.single-borrower:hover {
    transform: translateY(-3px);
}

.single-borrower h1 {
    color: #fff;
    font-weight: 500;
    padding: 2px 0px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 400;
}

.single-borrower h1 span {
    font-weight: 300;
    font-size: 17px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#6b7379;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.message:hover {
    transform: translateY(-3px);
}


/* background: #000;
    padding: 5px;
    border-radius: 6px; */








    


    