.borrowers-container {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.loan-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.single-borrower {
    background-color:rgb(42, 48, 57);
    color: #fff;
    border-radius: 7px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: auto;
}

.single-borrower:hover {
    transform: translateY(-3px);
}

.single-borrower h1 {
    color: #fff;
    font-weight: 500;
    padding: 2px 0px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(42, 48, 57);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.message:hover {
    transform: translateY(-3px);
}









    


    